h1 {
    font-size: 68px;
    color: #fff;
    letter-spacing: 5px;
    line-height: 110px;
    text-shadow:
        1px 1px 0 #f4f4f4,
        2px 2px 0 #f4f4f4,
        3px 3px 0 #c7e5f9,
        4px 4px 0 #c7e5f9,
        5px 5px 0 #2199e8,
        6px 6px 0 #2199e8,
        5px 5px 15px #999;
}

a, a:hover {
    color: #fff;
}
