<div class="row">
    <div class="small-12 large-12 columns">
        <product-filter (onSearch)="filterCollection($event)"></product-filter>
    </div>
    <div *ngIf="_products?.length > 0" class="small-up-2 medium-up-4 large-up-6">

        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
        | Green Path                                                       |
        |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
        | Suscribe el componente ProductComponent al evento que hayas      |
        | definido en él para notificar los clics sobre los productos.     |
        |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

        <product
            *ngFor="let product of _products"
            [data]="product"
            class="column">
        </product>
    </div>
    <div *ngIf="_products?.length === 0" class="text-center">
        <span>No se han encontrado productos.</span>
    </div>
</div>
<div class="text-center">

    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
    | Yellow Path                                                      |
    |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
    | Modifica el elemento <a> para que navegue a la ruta  '/reset'.   |
    |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

    <a>Reset de productos</a>
</div>
